<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.BoardMapper">

<select id="getSeqBoardNum" resultType="_int">
	SELECT IFNULL(MAX(num), 0) + 1 FROM board
</select>

<select id="getBoardByNum" resultType="boardVO">
	SELECT * FROM d_diver.board WHERE num = #{num}
</select>

<insert id="insertBoard">
	INSERT INTO board (num, name, subject, content, reRef, reLev, reSeq, readCount, regDate, ip)
	VALUES (#{num}, #{name}, #{subject}, #{content}, #{reRef}, #{reLev}, #{reSeq}, #{readCount}, CURRENT_TIMESTAMP, #{ip})
</insert>

<select id="getBoards" resultType="boardVO">
	SELECT * 
	FROM board
	<where>
		<if test="search != null and search != ''">
			subject LIKE CONCAT('%', #{search}, '%') 
		</if>
	</where>
	ORDER BY reRef DESC, reSeq ASC
	LIMIT #{amount} OFFSET #{startRow} 
</select>

<select id="getBoardCount" resultType="int">
	SELECT COUNT(*) 
	FROM board
	<where>
		<if test="search != null and search != ''">
			subject LIKE CONCAT('%', #{search}, '%') 
		</if>
	</where>
</select>

<update id="updateReadcount">
	UPDATE board 
	SET readCount = readCount+1 
	WHERE num = #{num}
</update>


<select id="getBoard" resultType="boardVO">
	SELECT * FROM board WHERE num = #{num}
</select>
	
<update id="updateBoard">
	UPDATE board 
	SET subject=#{subject}, content=#{content} 
	WHERE num=#{num} 
</update>	

<delete id="deleteBoard">
	DELETE FROM board WHERE num = #{num}
</delete>

<update id="updateReplyGroupSeq">
	UPDATE board 
	SET reSeq = reSeq + 1 
	WHERE reRef = #{reRef} 
	AND reSeq > #{reSeq} 
</update>

</mapper>